/* estilos generales */

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
}
/* nav */
.navbar {
    background-color: #fff;
    margin-bottom: 0;
    padding: 10px 0;
}

.navbar .navbar-brand {
    font-size: 32px;
    font-weight: 700;
}

.nav-link {
    font-size: 20px;
}

/* banner */
.banner {
    background-color: #FAFAFA;
}

.banner .title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner .contact {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    border: 1px solid #03989E;
    text-decoration: none;
    color: #fff;
    background-color: #03989E;
    font-size: 18px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

/* services */
.services .title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.services i {
    color: #03989E;
    font-size: 32px;
    margin: 20px 0;
}

.services .item .sub-title {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
}

.services .item .service {
  box-shadow: 0 0 5px #03989E;
}

/* partner */
.partner .subtitle {
  font-size: 18px;
  color: #03989E;
  text-transform: capitalize;
}

.partner .title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 32px;
}

.partner .list li {
  margin-bottom: 2px;
  font-weight: 600;
}

.partner .list li i {
  color: #03989E;
}

.partner .boton {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid #03989E;
  text-decoration: none;
  color: #03989E;
  font-size: 18px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.partner .boton:hover {
  background-color: #03989E;
  color: #fff;
  transition: all 0.5s;
}

/* agency */
.agency .container {
  background: url(../images/biblioteca2.jpeg) no-repeat center;
  background-size: cover;
}

.agency .content {
  padding: 0 12em;
}

.agency .description {
  color: #fff;
}

.agency .title {
  color: #fff;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 769px) {
  .agency .content {
    padding: 0;
  }
}

/* estilos de about */
.about1 .ablock{
 background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.33)), url(../images/shared-bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: calc(100vh - 0px);
  display: grid;
  align-items: center;
  padding: 2rem 0;
}



.about1 .middle-section {
  max-width: 450px; }

.about1 .middle-section h2 {
  color: #ffffff;
  font-size: 32px;
  line-height: 40px; }

.about1 .link-list-menu p {
  font-size: 16px;
  color: #eee;
  line-height: 26px;
  padding-top: 25px; }

@media (max-width: 800px) {
  .about1 .middle-section a {
    margin-top: 40px; } }

@media (max-width: 667px) {
  .about1 .link-list-menu {
    max-width: 523px; }
  .about1 .middle-section a {
    margin-top: 30px; }
  .about1 .link-list-menu p {
    font-size: 15px;
    line-height: 22px; } }

@media (max-width: 600px) {
  .about1 .link-list-menu p {
    padding-top: 13px; } }

@media (max-width: 480px) {
  .about1 .link-list-menu p {
    font-size: 19px;
    line-height: 25px; } }

@media (max-width: 440px) {
  .about1 .middle-section h2 {
    font-size: 30px;
    line-height: 40px; } }

@media (max-width: 384px) {
  .about1 .link-list-menu p {
    font-size: 18px; }
  .about1 .middle-section a {
    margin-top: 25px; } }

@media (max-width: 320px) {
  .about1 .link-list-menu {
    width: 281px; }
  .about1 .link-list-menu p {
    font-size: 20px; } }

/* footer */

footer input.form-control {
  padding: 1em;
}

